<footer id="page-footer" class="py-2 bg-dark">
    <div class="brand">
        <a class="navbar-brand" href="#">FinanceTech</a>
    </div>
    <div class="copyright">
        <!-- <small>
            <span>Copyright &copy;</span> <span>All Rights Reserved</span>
            <span>Terms of Use</span> and <span>Privacy Policy</span></small> -->
    </div>
    <br>
    <hr>
    <div class="favicon">
        <i class="social-media fab fa-facebook-f fa-2x"></i>
        <i class="social-media fab fa-twitter fa-2x"></i>
        <i class="social-media fab fa-instagram fa-2x"></i>
        <i class="social-media fas fa-envelope fa-2x"></i>
    </div>

    <div class="BackToTop">
        <a id="back-to-top" href="#" role="button"><i class="back fas fa-chevron-up fa-2x"></i></a>
        <h4>Back To Top</h4>
    </div>

</footer>